<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creater</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <h1> Creater: Tuzuvchi </h1>
    <p> <b>Ism:</b> Xusanboy</br>
    <b>Familiya:</b> Maxammadaliyev</br>
    <b>Otasi:</b> Boxodirjon o'g'li</br>
    <b>Davlat:</b> O'zbekiston</br>
    <b>Viloyat:</b> Andijon</br>
    <b>Tuman:</b> Buloqboshi</br>
    <b>Kasbi:</b> Student, O'qituvchi</br>
    <b>O'qish</b> joyi: Andijon Davlat Universiteti</br>
    <b>Ish joyi:</b> Buloqboshi XTB ga qarashli 55-IDUM
    </p>
{% endblock content %}

</body>
</html>